@import "reset.css";
@import "variable.css";

/*Screnns*/
@import "screens/login.css";
@import "screens/greetings.css";
@import "screens/todo.css";

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.input--none {
  background: none;
  border: none;
  border-bottom: 4px solid white;
  color: white;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
}
.hidden {
  display: none !important;
}
